// See the NOTICE file distributed with this work for additional information
// regarding copyright ownership.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// Set minimum required Nextflow version, stopping execution if current version does not match
nextflowVersion = '!>=23.10.4'

params {
    input_file = "$PWD/examples/input.txt" 
    output_dir = "$PWD/output_dir"
    help = false
}
profiles {
    standard {
        process {
        executor = 'local'
        }
    }

    lsf {
        executor {
            name = 'lsf'
            queueGlobalStatus = true
        }
        
    }

    slurm {
        executor {
            name = 'slurm'
            queueGlobalStatus = true
        }
    }
}
process {
    errorStrategy = 'finish'
    cache = 'lenient'

    withLabel: 'local' {
        executor = 'local'
        maxForks = 1
    }
    withLabel: 'default' {
        cpus = 1
        memory = 1.GB
        time = 10.min
    }

    withLabel: bigmem {
        memory = '320GB'
    }
}


trace {
    enabled = true
    fields = 'task_id,name,process,hash,status,exit,attempt,submit,time,realtime,cpus,%cpu,memory,%mem'
}

notification {
    enabled = true
    to = "${USER}@ebi.ac.uk"
}

plugins {
    id 'nf-schema@2.1.1'
}
