
params {
  input_file = "$PWD/examples/input.txt" 
  output_dir = "$PWD/output_dir"
}
profiles {
  standard {
    process {
      executor = 'local'
    }
  }

  lsf {
    process{
      executor = 'lsf'
      memory = '5GB'
    
      withLabel: bigmem {
        queue = 'bigmem'
        memory = '320GB'
      }
    }
  }

  slurm {
    process {
      executor = 'slurm'
      time = '3d'
      memory = '5GB'

      withLabel: bigmem {
        memory = '320GB'
      }
    }
  }
} 
